@import url('http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css');

.home_container {
    background-color: rgba(131, 188, 188, 0.72);
    text-align: center;
    margin: auto;

    padding-top: 5%;
    padding-bottom: 5%;

}

.top_nav {
    width: 60%;
    margin: auto;

}

.container {
    background: rgba(255, 165, 0, 0.6) url(../img/fart-can-plate.png) 50% 50%;
    margin: auto;
    height: 100vh;
    width: 100vw;

}

.home_container {
    /*background-color: rgba(131, 188, 188, 0.72);*/
    /*background: transparent url(https://i.stack.imgur.com/RL5UH.png) 50% 50% no-repeat;*/
    /*background: rgba(255, 165, 0, 0.6) url(https://i.stack.imgur.com/RL5UH.png) 50% 50%;*/
    background: rgba(255, 165, 0, 0.6) url(../img/fart-can-plate.png) 50% 50% ;
    background-opacity: .5;
    filter: alpha(opacity=.9);
    /*opacity: .5;*/

    /*color: #d8faff;*/
    text-shadow: 4px 2px 2px rgba(58, 60, 36, 0.97);
    background-blend-mode: hard-light;
    min-width: 300px;
    min-height: 300px;
    /*box-shadow: inset 0 0 20px #0f0, inset 0 0 20px #0f0, inset 0 0 20px #0f0;*/
    box-shadow: inset 0 0 20px #b0ccff, inset 0 0 20px #b0ccff, inset 0 0 20px #0f0;
}


.foreground {
    margin: auto;
    background-color: rgba(34, 34, 34, 0.51);
    /*border: 2px solid red;*/
    /*padding-top: 2px;*/
    /*padding-bottom: 2px;*/
    padding: 3% 0% 4%;    width: 60%;
    color: #d8faff;

}

.body_content {
    margin:auto;
    width: 90%;
    /*border: 2px solid green;*/
    text-align: center;
}

.user_form{
    padding: 5px;
}

.associatedItemsList {
    border: 2px solid red;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin:auto;
}

.addAssociatedItemForm {
    border: 2px solid blue;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin:auto;

}